
discord/

zoomus.conf

vlc/

Unknown Organization/

marktext/

Joplin/

GitKraken/

joplin-desktop/

configstore/

dconf/

kgpgrc

mimeapps.list

neofetch/

pavucontrol.ini

pulse/

QtProject.conf

systemd/user/default.target.wants/

systemd/user/sockets.target.wants/

balena-etcher-electron/

termscp/

fish/
